# Environment Variables
.env

# Virtual Environment
.venv/
venv/
ENV/
env.bak/
venv.bak/

# Python Cache
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# IDE / Editor
.vscode/
.idea/
*.swp
*.swo

# Databases
*.db
*.sqlite3
meetings.db

# Logs and Storage
*.log
